#navbar{
    display: flex;
    justify-content:space-around;
    align-items: center;
    border-radius: 15px;
    border: 2px solid lightgray;
   box-shadow: 0 4px 8px rgba(135, 206, 250, 0.5);
   padding: 10px;
}
#nav_links{
    display: flex;
    gap: 20px;
}
#nav_links a{
    text-decoration: none;
    color: black;
    padding: 7px 15px;
    border-radius: 8px;
}
#nav_links a:hover{
    background-color: dodgerblue;
    color: #fff;
}
@media (min-width:390px) and (max-width:768px){
    #navbar > h1{
        font-size: 20px;
    }
    #nav_links{
        gap:10px
    }
    #nav_links a{
        padding: 3px 6px;
    }
}